---
import Search from "./icons/Search.astro";
import User from "./icons/User.astro";
---

<header class="flex justify-between items-center py-5 w-full xl:w-[1120px] mx-auto text-black/80 font-semibold">
    
    <h1 class="font-extrabold text-3xl">Ozone </h1>
    <nav class="flex flex-row gap-x-10 opacity-50">
        <a href="#Home">Home</a>
        <a href="#Categorias">Categorias</a>
        <a href="#Blog">Blog</a>
    </nav>
    <nav class="flex flex-row gap-x-5 opacity-50">
        <Search class="size-6 text-gray-600"></Search>
        <User class="size-6 text-gray-600"></User>
    </nav>
</header>